*{
    margin: 0;
    padding: 0;
}
.parent{
    width: 100%;
    height: 100vh;
    background-image: url('cloth.webp');
    background-position: center;

    background-size: cover;
    position: relative;
}
.div1{
    position: absolute;
    width: 25%;
    height: 60%;
    top: 20%;
    left: 10%;
    color: gold;
}
.div1 h2{
    font-size: 80px;
}
.div1 h1{
    font-size: 250px;

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 0;

}
.div1 p{

    font-size: 60px;
    text-align: right;

}

.div2{
    position: absolute;
    width: 35%;
    height: 30%;
    top: 35%;
    left: 60%;
    text-shadow: 0 0 3px #FF0000;
    color: rgb(250, 250, 248);
}
.p1{
    text-align: center;
    font-weight: 600;
    font-size: 50px;
}
.p2{
    text-align: center;
    font-weight: 500;
    font-size: 30px;
}
.p3{
    text-align: center;
    font-weight: 400;
    font-size: 18x;
    padding-top: 8px;
}
.div3{
    margin-top: 30px;
    margin-left: 132px;
}
button{
    margin-left: 20px;
    height: 50px;
    width: 110px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 0%;
    border: 1px solid aliceblue;
    
}
